{% extends 'core/base.html' %}

{% block title %}Rooms | {% endblock %}

{% block content %}
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/%D8%A2%D8%B1%D9%85_%D8%AF%D8%A7%D9%86%D8%B4%DA%AF%D8%A7%D9%87_%D8%AA%D8%B1%D8%A8%DB%8C%D8%AA_%D8%AF%D8%A8%DB%8C%D8%B1_%D8%B4%D9%87%DB%8C%D8%AF_%D8%B1%D8%AC%D8%A7%DB%8C%DB%8C.png" style="width:10%; margin:auto;">
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white"  style="font-family:B Nazanin">اتاق ها</h1>
</div>

<div class="w-full flex flex-wrap items-center">
    {% for room in rooms %}
        <div class="w-full lg:w-1/4 px-3 py-3">
            <div class="p-4 bg-white shadow rounded-xl text-center">
                <h2 class="mb-5 text-2xl font-semibold"  style="font-family:B Nazanin">{{ room.name }}</h2>

                <a href="{{room.slug }}" class="px-5 py-3 block rounded-xl text-white bg-teal-600 hover:bg-teal-700"  style="font-family:B Nazanin">ورود</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
