{% extends 'core/pv_base.html' %}

{% block title %}{{ usa }} | {% endblock %}
{% load custom_tags %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
  <h1 class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-6xl ">{{usa}}</h1>
  <link rel="icon" href="https://bayanbox.ir/view/9003252287432917985/UTA-i.png">
  <title>Enter room</title>
</div>
<style>
  * { 
    font-family: Vazir;
  }
  
</style>




<script src="//unpkg.com/alpinejs" defer></script>

<script src="https://cdn.tailwindcss.com"></script>
<div class="flex flex-col flex-auto h-90 p-6">
  <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-200 h-full p-4">
    <div class="flex flex-col h-full overflow-x-auto mb-4">
      <div class="flex flex-col h-full">
        <div class="gap-y-2 h-80 overflow-auto" id="chat-messages">
                {% for m in messages %}
                

                {% if m.user.username == user %}
                <div id="{{m.id}}" class="col-start-6 col-end-13 p-3 rounded-lg">
                  <div class="flex items-center justify-start flex-row-reverse">
                    <div
                      class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                    >
                    {{ user|first_char }}
                    </div>
                    <div
                      class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
                    >
                      <div style="max-width:400px; word-wrap:break-word;" dir="rtl" class="text-justify "><span id="@{{m.id}}">{{ m.content }}</span></div>
                      {% if m.file %}
                      <a href="/media/{{ m.file }}" target="_blank">File</a> <br>{% endif %}
                      <button onclick="del('{{ m.id }}')" id="chat-message-delete" name="{{ m }}" style="color:red; font-family: Vazir">حذف</button> ,
                      <button onclick="edit('{{ m.id }}')"  id="chat-message-edit" name="{{ m }}" style="font-family: Vazir">ویرایش</button>
                      , <button onclick="copy('{{ m.content }}')"  id="chat-message-edit" name="{{ m }}" style="font-family: Vazir">کپی</button>
              
                    </div>
                  </div>
                  
                </div>

                {% else %}
                <div id="{{m.id}}" class="col-start-1 col-end-8 p-3 rounded-lg">
                  <div class="flex flex-row items-center">
                    <div
                      class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                    >
                    {{ usa|first_char }}
                    </div>
                    <div
                      class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                    >
                      <div class="text-justify">{{ m.content }}</div>
                              {% if m.file %}
        <a href="/media/{{ m.file }}" target="_blank">File</a> <br>{% endif %}
         <button onclick="copy('{{ m.content }}')"  id="chat-message-edit" name="{{ m }}">Copy</button>

                    </div>
                  </div>
                </div>
				{% endif %}

        {% endfor %}
              </div>
            </div>
          </div>





          <form method="post" action="."></form>
          <div
            class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4"
          >
            <div>
              <input id= "file-input" type="file" name="file" style="display: none;">
              <button  id="file-button"
                class="flex items-center justify-center text-gray-400 hover:text-gray-600"
              >
                <svg
                  class="w-5 h-5"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"
                  ></path>
                </svg>
              </button>
            </div>
            <div class="flex-grow ml-4">
              <div class="relative w-full">
                <input style="font-family: Vazir" id="chat-message-input" name="content"
                  type="text"
                  class="flex w-full border rounded-xl focus:outline-none  focus:border-indigo-300 pl-4 h-10"
                />
              </div>
            </div>
            <div class="ml-4">
              <button id="chat-message-submit"
                class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0"
              >
                <span style="font-family: Vazir">ارسال</span>
                <span class="ml-2">
                  <svg
                    class="w-4 h-4 transform rotate-45 -mt-px"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                    ></path>
                  </svg>
                </span>
              </button>
            </div>
          
          </div>
          </form>
          <p id="selector"></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent); 
    let stringWithoutSpaces1 = userName.replace(/ /g, "");
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host

        + '/ws/pv/'
        + roomName
        + '/'
    );

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    var input = document.getElementById("chat-message-input");
    input.addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      document.getElementById("chat-message-submit").click();
    }
    });


    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        let stringWithoutSpaces = data.username.replace(/ /g, "");
        if (data.command == "del") {
            document.getElementById(data.message__id).remove();

        }
        else if (data.command == "edit") {

            var submit = document.getElementById("@"+data.edited_id);
            submit.innerHTML=data.m_message;
            document.querySelector('#chat-message-submit').onclick = chat_send;

        }
        else if(data.command == "file_message")
        {
        
            if (stringWithoutSpaces==stringWithoutSpaces1) {
            document.querySelector('#chat-messages').innerHTML += (`
                  <div id="${data.iddd}" class="col-start-6 col-end-13 p-3 rounded-lg">
                  <div class="flex items-center justify-start flex-row-reverse">
                    <div
                      class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                    >
                      ${userName[0]}
                    </div>
                    <div
                      class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
                    >
                      <div class="text-justify"><span id="@${data.iddd}">${data.message}</span></div>
                      <a href="/media/${data.file_name}" target="_blank">File</a><br>
                      <button onclick="del('${data.iddd}')" id="chat-message-delete" name="{{ m }}" style="color:red; font-family: Vazir">حذف</button> ,
                      <button onclick="edit('${data.iddd}')"  id="chat-message-edit" name="{{ m }}" style="font-family: Vazir">ویرایش</button>
                      , <button onclick="copy('${data.m_message}') name="{{ m }}" style="font-family: Vazir">کپی</button></div></div></div>`)
          }
        else{
            document.querySelector('#chat-messages').innerHTML += (`
                  <div id="${data.iddd}" class="col-start-1 col-end-8 p-3 rounded-lg">
                  <div class="flex flex-row items-center">
                    <div
                      class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                    >
                      ${data.username[0]}
                    </div>
                    <div
                      class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                    >
                      <div class="text-justify"><span id="@${data.iddd}">${data.message}</span></div>
                      <a href="/media/${data.file_name}" target="_blank">File</a><br>

                   <button onclick="copy('${data.m_message}')"   name="{{ m }}">Copy</button></div></div></div>`);
         }
    }
        else if(data.command == "add")
        {
        if (data.message) {
        
            if (stringWithoutSpaces==stringWithoutSpaces1) {         
                document.querySelector('#chat-messages').innerHTML += (`
                  <div id="${data.iddd}" class="col-start-6 col-end-13 p-3 rounded-lg">
                  <div class="flex items-center justify-start flex-row-reverse">
                    <div
                      class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                    >
                    ${userName[0]}
                    </div>
                    <div
                      class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
                    >
                      <div style="direction: rtl" class="text-justify"><span id="@${data.iddd}">${data.message}</span></div>
                      <button onclick="del('${data.iddd}')" id="chat-message-delete" name="{{ m }}" style="color:red; font-family: Vazir">حذف</button> ,
                      <button onclick="edit('${data.iddd}')"  id="chat-message-edit" name="{{ m }}" style="font-family: Vazir">ویریش</button>
                      , <button onclick="copy('${data.m_message}') name="{{ m }}" style="font-family: Vazir">کپی</button></div></div></div>`)
              
              }
        else{
            document.querySelector('#chat-messages').innerHTML += (`
                  <div id="${data.iddd}" class="col-start-1 col-end-8 p-3 rounded-lg">
                  <div class="flex flex-row items-center">
                    <div
                      class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
                    >
                    ${data.username[0]}

                    </div>
                    <div
                      class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
                    >
                      <div class="text-justify"><span id="@${data.iddd}">${data.message}</span></div>

                   <button onclick="copy('${data.m_message}')"   name="{{ m }}">Copy</button></div></div></div>`);

        }
        
        }

        else {

            alert('The message was empty!')

        }
    }
        scrollToBottom();
    };
    document.getElementById('file-button').addEventListener('click', function() {
  document.getElementById('file-input').click();
});


    function del(message) {
        console.log({
            'command': 'delete',
            'message': message,
            'username': userName,
            'room': roomName,
        })

        chatSocket.send(JSON.stringify({
            'command': 'delete',
            'message': message,
            'username': userName,
            'room': roomName,
            
        }));
    }


    document.getElementById('file-input').addEventListener('change', function(e) {
  if (e.target.files[0]) {
    document.getElementById('selector').innerHTML='selected';
  }
});
    
    
    
    function copy(content) {
    var input = document.createElement('input');
    input.setAttribute('value', content);
    document.body.appendChild(input);
    input.select();
    var result = document.execCommand('copy');
    document.body.removeChild(input);
    document.getElementById('bootstrap-alert').style.display = 'block';
    setTimeout(function(){document.getElementById('bootstrap-alert').style.display = 'none'}, 1700);
    alert('success!');
    return result;
    }




    function edit(message) {
        var input = document.getElementById('chat-message-input');
        input.value = document.getElementById("@"+`${message}`).textContent;
        var submit = document.getElementById('chat-message-submit');
        submit.name=message;
        document.querySelector('#chat-message-submit').onclick = chat_edit;

    }    
    document.querySelector('#chat-message-submit').onclick = chat_send;
    

    function chat_edit(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        var submit = document.getElementById('chat-message-submit');

        console.log({
            'command': 'edit',
            'message': message,
            'username': userName,
            'room': roomName,
        })
        if (message) {

        chatSocket.send(JSON.stringify({
            'command': 'edit',
            'message': message,
            'id': submit.name,
            'room': roomName,
        }));
            
    }
        messageInputDom.value = '';

        return false
    }



function chat_send(e) {
  e.preventDefault();

  var fileInput = document.getElementById('file-input');
    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value;
  if (fileInput.files.length === 0) {

    console.log({
      'command': 'message_no_file',
      'message': message,
      'username': userName,
      'room': roomName,
    });

    if (message) {
      chatSocket.send(
        JSON.stringify({
          'command': 'message_no_file',
          'message': message,
          'username': userName,
          'room': roomName,
        })
      );
    }

    messageInputDom.value = '';

    return false;
  } else {
    // Handle file upload here

    // Access the file using fileInput.files[0]
    var file = fileInput.files[0];

    // Read file data using FileReader API
    var reader = new FileReader();
    reader.onload = function(event) {
      var fileContent = event.target.result;

      // Send file data via WebSocket
      var data = {
        'command': 'file_included_message',
        'file': {
          'name': file.name,
          'content': fileContent,
        },
        'username': userName, // Replace with the actual username
        'room': roomName, // Replace with the actual room name
        'message': message,

      };
      chatSocket.send(JSON.stringify(data));
    };
    reader.readAsDataURL(file);

    // Reset file input value to allow selecting the same file again
    fileInput.value = '';
    document.getElementById('selector').innerHTML='';
    messageInputDom.value = '';


    return false;
  }
}














    /**
    * A function for finding the messages element, and scroll to the bottom of it.
    */
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();
</script>
{% endblock %}
