{% extends 'core/base.html' %}

{% block title %}Rooms | {% endblock %}

{% block content %}

<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white"  style="font-family:B Nazanin">اتاق ها</h1>
</div>
<div>
    <style>
        *{
            font-family: B Nazanin;
        }
        .container{
            margin: auto;
            width:fit-content;
        }
        input[type=text], select {
        width: 100%;
        padding: 2% 20px;
        margin: 10px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: Ubuntu;
        font-size: medium;

      }

        input[type=submit] {
        width: 100%;
        background-color: #4658bd;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        }
    
        input[type=submit]:hover {
        background-color: #334191;  
        align-self: center;
      }
    
        div[id='13'] {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        
        }
       
        @media only screen and (max-width: 584px) {
          .container {
            max-width: 100%;
          }
        
          form .user__details .input__box {
            margin-bottom: 15px;
            width: 100%;
          }
        
          form .gender__details .category {
            width: 100%;
          }
        
          .container form .user__details {
            max-height: 300px;
            overflow-y: scroll;
          }
        
          .user__details::-webkit-scrollbar {
            width: 0;
          }
        }
        </style>

<div id="13" class="container">   
<form method="post">
    {% csrf_token %}
    <label for="username">نام کاربری</label>
    <input id="username" type="text" name="username" maxlength="100" required>    
    <input type="submit" value="ورود">
</form>
</div>
<div class="w-full flex flex-wrap items-center">
  {% load custom_tags %}

{% for i in len|get_range %}
        <div class="w-full lg:w-1/4 px-3 py-3">
            <div class="p-4 bg-white shadow rounded-xl text-center">
                <h2 class="mb-5 text-2xl font-semibold"  style="font-family:B Nazanin">{{ rooms|get_from_dict:i }}</h2>

                <a href="{{ links|get_from_dict:i }}" class="px-5 py-3 block rounded-xl text-white bg-teal-600 hover:bg-teal-700"  style="font-family:B Nazanin">عضویت</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
