{% extends 'core/base.html' %}

{% block title %}Log in | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 id="title" class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl dark:text-white">Login to your account</h1>
    </div>
    <style>
        #title
        {
            font-family: Ubuntu;
        }
    </style>

    <section class="max-w-3xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
    
        <form method="post" action=".">
            {% csrf_token %}

            <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-1">
                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="username">Username</label>
                    <input placeholder="Enter the username" id="username" name="username" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                </div>
    
    
                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="password">Password</label>
                    <input placeholder="Enter password" id="password" type="password" name="password" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                </div>
    
            </div>
            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %} 
                    <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
                        <p>{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
            <div class="flex justify-end mt-6">
                <button class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Login</button>
            </div>
        </form>
    </section>
<br><br><br>





{% endblock %}